* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100dvw;
  height: 100dvh;
  background-color: black;
  overflow: hidden;
}

button {
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  border: 1.5px solid #ffffff44;
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

button img {
  height: 100%;
  padding: 0.5rem;
}

button:enabled:active {
  background-color: #ffffff44;
}

#deepzoom {
  position: relative;
  width: 100dvw;
  height: 100dvh;
}

#zoom-buttons {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.tile {
  position: absolute;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
